ion-tittle {
    background-color: var(--ion-color-tertiary);
    color: white;
    border-style: solid;
    border-color: var(--ion-color-tertiary);
}

form {
    background-color: var(--slide-color-background);
    height: 1 00%;
}

ion-footer{
    background-color: var(--ion-color-tertiary);
    color: white;
    border-style: solid;
    border-color: var(--ion-color-tertiary);
}

