// Importación de fuentes desde Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

ion-slides {
  height: 100%;
  background-color: var(--slide-color-background);
  max-width: 800px;
}

.swiper-slide {
   display: block;
   margin-bottom: 60px;
   background-color: var(--slide-color-background);
}

ion-slide > ion-icon[name="close"] {
  float: right;
  color: white;
  font-size: 25px;
  margin: 25px 20px 15px 15px;
}

ion-slide >h1 {
  font-family: 'Secular One', sans-serif;
  font-size: 35px;
}

.imagen_slide1 {
  margin-top: 50px;
}

.imagen_slide2 {
  margin-top: 100px;
}

.imagen_slide3 {
  margin-top: 65px;
  height: 250px;
}

.imagen_slide4 {
  margin-top: 0px;
  height: 250px;
}

ion-slide > p {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 5px;
}